<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I AM</title>
</head>
<body>
    Before Content
    <br>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %> 
    <%- body %> 
    <br>
    After Content
</body>
</html>